.mine{
    height: 100%;
}
.tabPageContent {
    min-height: 100%;
    padding-bottom: 1.04rem;
}
.minePage {
  height: 100%;
  padding-bottom: 1.04rem;
  display: flex;
  flex-direction: column;
}

// .userMsgWrap {
//   height: 3rem;
//   background-size: 100%;
//   padding: 0.7rem 0.4rem;
//   display: flex;
//   background: #ceb582;
// }
// .userLogo {
//     width: 1.6rem;
//     background: url('https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1095903005,1370184727&fm=26&gp=0.jpg') no-repeat;
//     background-size:cover;
//     height:1.6rem;
//     border-radius: 50%;
// }
// .userMsgs {
//     flex: 1 ;
//     padding: .2rem;
//     padding-right: 0;
//     height: 100%;
//     font-size: 14px;
// }
// .userMsgs div {
//     height: 50%;
//     display: flex;
//     align-items: center;
//     color: white;
// }
// .userPower {
//     height: 100%;
//     display: flex;
//     flex-wrap: wrap;
// }
// .userPower > div {
//     width: 33.333%;
//     height: 2.5rem;
//     background: white;
//     border: .5px solid gainsboro;
// }
// .loginOut {
//     height: 1rem;
//     width: 100%;
//     margin: .2rem 0;
//     background: white;
//     text-align: center;
//     line-height: 1rem;
// }