.commentItem {
    width: 100%;
    height: 75px;
    border-top: .02rem solid #ccc;
}

.userInfo {
    width: 100%;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentItem .userInfo div:nth-child(1) {
    flex: 1 1;
    color: black;
    font-size: .24rem;
    -webkit-box-flex: 1;
    padding: 0 0 0 10px;
}

.commentItem .userInfo div:nth-child(2) {
    width: auto;
    font-size: .24rem;
    color: #808080;
}

.userComment {
    width: 100%;
    line-height: .6rem;
    font-size: .3rem;
    padding-left: .2rem;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}