.countOp {
    display: flex;
    display: flex;
}

.countOp div {
    width: .6rem;
    height: .6rem;
    border: 1px solid gainsboro;
    font-size: .5rem;
}

.countOp div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
}

.countOp div:nth-child(1) {
    width: .6rem;
    height: .6rem;
    border: 1px solid gainsboro;
}

.countOp div:nth-child(2) {
    min-width: 1rem;
    height: .6rem;
    padding: 0 .2rem;
    font-size: .32rem;
    border: 1px solid gainsboro;
    border-right: none;
    border-left: none;
}

.countOp div:nth-child(3) {
    width: .6rem;
    height: .6rem;
    border: 1px solid gainsboro;
}