html,
body,
#root,
#home {
    width: 100%;
    height: 100%;
    font-size: calc(100 /750 * 100vw);
}

#home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 1rem;
    display: flex;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 0.04rem 0px 0px rgba(175, 154, 154, 0.1);
}

.header span {
    width: .6rem;
    height: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: .32rem;
}

.header h4 {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 1rem;
    font-size: .32rem;
}

.common {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.commentWrap {
    width: 100%;
    height: 100%;
}

.common .topicDetail .topicDetailImg {
    width: 100%;
}

.common .topicDetail .topicDetailImg img {
    width: 100%;
    height: auto;
    display: block;
}

.common .topicDetail .commentWrap {
    width: 100%;
    /* height: auto; */
    background: white;
    /* margin-top: .2rem; */
}

.common .topicDetail .commentWrap .titleName {
    width: 100%;
    height: 1rem;
    display: flex;
    font-size: .3rem;
}

.common .topicDetail .commentWrap .titleName span {
    width: .8rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: .3rem;
}

.common .topicDetail .commentWrap .titleName h4 {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 1rem;
    padding-left: .2rem;
    font-size: .3rem;
}

.common .topicDetail .commentWrap .commentList .moreComment {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}