.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 2px 0px 0px rgba(175, 154, 154, 0.1);
}

.header span {
    width: 40px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.header h4 {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 50px;
}

.common {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.commentWrap {
    width: 100%;
    height: 100%;
}

.common .topicDetail .topicDetailImg {
    width: 100%;
}

.common .topicDetail .topicDetailImg img {
    width: 100%;
    height: auto;
    display: block;
}

.common .topicDetail .commentWrap {
    width: 100%;
    /* height: auto; */
    background: white;
    /* margin-top: .2rem; */
}

.common .topicDetail .commentWrap .titleName {
    width: 100%;
    height: 50px;
    display: flex;
}

.common .topicDetail .commentWrap .titleName span {
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.common .topicDetail .commentWrap .titleName h4 {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
}

.common .topicDetail .commentWrap .commentList .moreComment {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}