
#home {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background: #f5f5f9;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  width: 100%;
  height: calc(2.02rem);
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active{
  background: #666;
}
.nav {
  width: 100%;
  height: 1.4rem;
  padding: 0.1rem 0;
  background: white;
  display: flex;
}
.nav .nav_item {
  width: 20%;
  height: 100%;
  img {
    height: 80%;
    display: block;
    padding: 0.2rem;
    margin: auto;
  }
  div {
    height: 20%;
    font-size: 0.24rem;
    text-align: center;
  }
}
.brandBox,
.newGoodsBox,
.hotGoodsBox,
.topGoodsBox {
  margin-top: 0.2rem;
  background: white;
  .brandTitle,
  .newGoodsTitle,
  .hotGoodsTitle,
  .topGoodsTitle {
    height: 1rem;
    background: white;
    text-align: center;
    font-size: 0.3rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-weight: bold;
  }
}
.brandWrap,
.newGoodsWrap {
  height: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
}
.brandItem {
  text-decoration: none;
  list-style: none;
  width: 50%;
  height: 2.2rem;
  position: relative;
  .brandItemName {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    font-size: 0.3rem;
    color: #000;
  }
  .brandItemMinPrice {
    position: absolute;
    top: 0.6rem;
    left: 0.2rem;
    font-size: 0.24rem;
    color: darkgrey;
  }
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.newGoodsItem {
  width: 50%;
  height: 4rem;
  list-style: none;
  text-decoration: none;
  color: #000;
  img {
    height: 70%;
    width: 100%;
  }
  .newGoodsName {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
  }
}
.hotGoodsWrap {
  width: 100%;
  padding: 0 0.2rem;
  min-height: 200px;
  .hotGoodsItem {
    height: 3rem;
    position: relative;
    padding: 0.1rem 0;
    display: flex;
    text-decoration: none;
    color: #000;
    .hotGoodsInfos {
      flex: 1 1;
      padding: 0.5rem 0;
    }
  }
  img {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
    width: auto;
    height: 100%;
  }
}
.hotGoodsName,
.hotGoodsInfo,
.hotGoodsPrice {
  height: 33.3333%;
  display: flex;
  align-items: center;
}
.topGoodsWrap {
  height: auto;
  padding-bottom: 0.2rem;
  display: flex;
}

.swiperOpt {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  visibility: visible;
  .slider-frame {
    position: relative;
    display: block;
    overflow: hidden;
    height: auto;
    margin: 0px;
    padding: 0px;
    transform: translate3d(0px, 0px, 0px);
    box-sizing: border-box;
  }
  .slider-list {
    transform: translate3d(28.125px, 0px, 0px);
    position: relative;
    display: block;
    margin: 0px -5px;
    padding: 0px;
    height: 252px;
    width: 986.25px;
    cursor: inherit;
    box-sizing: border-box;
  }
  .slider-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    width: 318.75px;
    height: auto;
    box-sizing: border-box;
    margin: auto 5px;
    padding:0  10px;
  }
  
  .swiper-slide-prev{
    right:-15%;
  }
  .swiper-slide-next{
    left:-15%;
  }
}

.topGoodsItem {
  height: 5rem;
  text-decoration: none;
  color: #000;
}
.topGoodsItem > img {
  height: 4rem;
  width: 100%;
}
.topGoodSubTitle {
  font-size: 0.32rem;
  margin-top: 0.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topGoodTitle {
  color: darkred;
}

.cateGoryBox {
  height: auto;
}
.cateGoryName {
  height: 1rem;
  background: white;
  text-align: center;
  font-size: 0.3rem;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
}
.cateGoryGoodsWrap {
  display: flex;
  flex-wrap: wrap;
  a {
    width: 50%;
    height: auto;
    background: white;
    padding: .2rem;
    position: relative;
    text-decoration: none;
    color: #000;
  }
}

.cateGoryName{
  background: #F5F5F9;
}
.goodsItemImg {
  width: 100%;
  min-height: 2rem;
  height: auto;
  img{
    width: 100%;
    height: auto;
  }
}
.goodsItemName {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: .3rem;
  padding-top: .1rem;
}

.goodsItemPrice {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: red;
}
.cateGoryGoodsWrap > a:nth-child(2n+1):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #f5f5f9;
  border-left-width: 2px;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.categoryMoreGoods {
  width: 50%;
  height: auto;
  background: white;
  padding: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoryMoreGoods > div {
  width: 100%;
  text-align: center;
}
.categoryMoreGoods > img {
  padding: .4rem;
  height: 1.4rem;
  width: 1.4rem;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background: white;
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 100;
}
